@page {
  size: A4;
  margin: 0;
}
@media print {
  html, body {
    width: 210mm;
    height: 297mm;
  }
  /* ... the rest of the rules ... */
}
body {
  width: 210mm;
  height: 297mm;
  overflow:hidden;
  }

*{box-sizing: border-box;font-family: sans-serif;font-size: 0.35cm;}
.col1,.col2 {font-size: 0.4cm;/* line-height: 0.7cm; *//* padding: 0 0.15cm; *//* height: 0.6cm; */}
.page {
  display: block;
  width: 210mm;
  height: 297mm;
  position:relative;
  padding-top: 0.2cm;}
.col1{
  
  display: block;
  width: 100%;
}
.col2{
  display: inline-block;
  width: 50%;
}
.col3{
  display: inline-block;
  width: 33.33%;
white-space: nowrap;}

.col4{
  display: inline-block;
  width: 25%;
white-space: nowrap;}

.col5{
  display: inline-block;
  width: 20%;
white-space: nowrap;}

.col10{
  display: inline-block;
  width: 10%;
}
.col8{
  display: inline-block;
  width: 16.6666%;
}

.col08{
  display: inline-block;
  width: 80%;
}
.col06{
  display: inline-block;
  width: 66.66%;
}
.col05{
  display: inline-block;
  width: 63.3333%;
}
.col04{
  display: inline-block;
  width: 40%;
}


.title {text-align: center;padding-top: 0.5cm;font-weight: bold;font-size: 0.5cm;}
.box div.row{border-bottom: 1px dotted #000;}
.box div.col1,.box div.col2 {}
.row {font-size: 0px !important;}
.box {border: 2px solid #000;width: 92%;margin: auto;}
.row.root {width: 92%;margin: auto;}
.row.col2,.row.col1 {border: none !important;}
.page .nopad .logo {display: inline-block;width: 6cm;/* border: 1px solid #000; */height: 3cm;background-size: 100%;}
.logo.erc{background: url(ercolani_casse/logo_ercolani.png);}
.logo.mbe{background: url(ercolani_casse/logo_mbe.png);}
.rightA{text-align:right}
.row.root.nopad {width: 96%;margin: auto;}
span.tnum {border: 1px solid #000;padding: 0.3rem 2rem;display: inline-block;font-family: monospace;color: #900;}
.col1.tlink {display: inline-block;padding: 0.8rem 0;font-style: italic;}

.box {text-transform: uppercase;}
.addresses .col1 {text-align: center;font-size: 0.26cm;}

.row.root.addresses {padding-top: 0.3cm;}
.row.head span{ font-size: 0.26cm;text-align: center;width: 100%;display: inline-block;}
.centerA {
    text-align: center;
}
body {margin: 0;padding: 0;}

.row.row.nopad.bottom {position: absolute;bottom: 1cm;margin-left: 0.5cm;}
.addresses .col1 b {font-size: 0.26cm;}
.box [class^="col"]{height: 0.8cm;line-height: 0.9cm;border-right: 1px dotted #000;text-overflow: ellipsis;overflow: hidden;position: relative;padding-top: 3px;}
.box [class^="col"] span{padding: 4px;white-space: nowrap;}


.box .row div:last-child {border-right: none;}
.box .row:last-child {border-bottom: none;}
.box [class^="col"]:after {
    content: attr(label);
    display: inline-block;
    /* border: 1px solid #000; */
    position: absolute;
    right: 0.07cm;
    top: 0;
    font-size: 0.16cm;
    height: 0.2cm;
    line-height: 0.4cm;
    color: #666;
    /* transform: scaleX(0.7); */
    white-space: nowrap;
    /* transform-origin: right; */
    }